In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df=pd.read_csv(r"C:\Users\KIIT0001\Downloads\covid_toy.csv")

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [7]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [11]:
X_train

    age  gender  fever   cough       city
39   50  Female  103.0    Mild    Kolkata
52   47  Female  100.0  Strong  Bangalore
33   26  Female   98.0    Mild    Kolkata
5    84  Female    NaN    Mild  Bangalore
56   71    Male    NaN  Strong    Kolkata
..  ...     ...    ...     ...        ...
55   81  Female  101.0    Mild     Mumbai
69   73  Female  103.0    Mild      Delhi
92   82  Female  102.0  Strong    Kolkata
18   64  Female   98.0    Mild  Bangalore
46   19  Female  101.0    Mild     Mumbai

[80 rows x 5 columns]

In [15]:
#adding simple imputer to fever col
from sklearn.impute import SimpleImputer

# create imputer (default = mean)
si = SimpleImputer(strategy='mean')

# fit ONLY on training data
X_train_fever = si.fit_transform(X_train[['fever']])

# transform test data using same imputer
X_test_fever = si.fit_transform(X_test[['fever']])

# check shape
X_train_fever.shape

(80, 1)

In [17]:
#ordinalecoding -> cough
from sklearn.preprocessing import OrdinalEncoder

# define ordinal encoder with order
oe = OrdinalEncoder(categories=[['Mild', 'Strong']])

# fit ONLY on training data
X_train_cough = oe.fit_transform(X_train[['cough']])

# transform test data using same encoder
X_test_cough = oe.transform(X_test[['cough']])

# check shape
X_train_cough.shape

(80, 1)

In [23]:
# onehotencoding -> gener,city
from sklearn.preprocessing import OneHotEncoder
import numpy as np

# create encoder
ohe = OneHotEncoder(drop='first', sparse_output=False)

# fit ONLY on training data
X_train_gender_city = ohe.fit_transform(X_train[['gender', 'city']])

# transform test data
X_test_gender_city = ohe.transform(X_test[['gender', 'city']])

# check shape
X_train_gender_city.shape

(80, 4)

In [26]:
#extracting Age
X_train_age=X_train.drop(columns=['gender','fever','cough','city']).values

X_test_age=X_test.drop(columns=['gender','fever','cough','city']).values
X_train_age.shape

(80, 1)

In [28]:
import numpy as np

# combine TRAIN features
X_train_transformed = np.concatenate(
    (X_train_age, X_train_fever, X_train_gender_city, X_train_cough),
    axis=1
)

# combine TEST features
X_test_transformed = np.concatenate(
    (X_test_age, X_test_fever, X_test_gender_city, X_test_cough),
    axis=1
)

# check shapes
X_train_transformed.shape, X_test_transformed.shape

((80, 7), (20, 7))

In [32]:
from sklearn.compose import ColumnTransformer

In [36]:

transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [38]:

transformer.fit_transform(X_train).shape

(80, 7)

In [39]:
transformer.transform(X_train).shape

(80, 7)